* {
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
}

footer{
    margin-top: auto;
    flex-grow: 1;
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: center;
    height: 8rem;
}