<!DOCTYPE html>
<%- include('../parts/head'); %>
<html>
<body class="container">
    <%- include('../parts/header', {pagina: 'Sobre'}); %>
        <main>
            <div class="container-fluid text-bg-primary p-5">
                <h1 class="display-4">Sobre o criador</h1>
                <p class="lead">Falae, me chamo Guilherme e estou aprendendo a programar com EJS! (Hello World!)</p>
            </div>
        </main>
    <%- include('../parts/footer'); %>
</body>
</html>