button{
    background-color: blueviolet;
    color: white;
    padding: .5rem;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    gap: .4rem;
}

div{
    display: flex;
    flex-flow: row;
    gap: 1rem;
}